@import "tailwindcss";

:root {
  --rabbit-red: #ea2e0e;
}

#root {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-style: normal;
}

.bg-rabbit-red {
  background-color: var(--rabbit-red);
}
